<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snxy.business.dao.mapper.VegetableMapper">
  <resultMap id="BaseResultMap" type="com.snxy.business.domain.Vegetable">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="vegetable_name" jdbcType="VARCHAR" property="vegetableName" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="vegetable_category_id" jdbcType="BIGINT" property="vegetableCategoryId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, vegetable_name, image_url, vegetable_category_id, gmt_create, gmt_modified, 
    is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vegetable
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from vegetable
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.snxy.business.domain.Vegetable">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vegetable (code, vegetable_name, image_url, 
      vegetable_category_id, gmt_create, gmt_modified, 
      is_delete)
    values (#{code,jdbcType=VARCHAR}, #{vegetableName,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{vegetableCategoryId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.snxy.business.domain.Vegetable">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vegetable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="vegetableName != null">
        vegetable_name,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="vegetableCategoryId != null">
        vegetable_category_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="vegetableName != null">
        #{vegetableName,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="vegetableCategoryId != null">
        #{vegetableCategoryId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.snxy.business.domain.Vegetable">
    update vegetable
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="vegetableName != null">
        vegetable_name = #{vegetableName,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="vegetableCategoryId != null">
        vegetable_category_id = #{vegetableCategoryId,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snxy.business.domain.Vegetable">
    update vegetable
    set code = #{code,jdbcType=VARCHAR},
      vegetable_name = #{vegetableName,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      vegetable_category_id = #{vegetableCategoryId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByVegetableId" resultMap="BaseResultMap">
    select vegetable_category_id
    from vegetable
    where id = #{entranceFeeCategoryId}
</select>

  <!--查询所有菜品-->
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from vegetable
    where is_delete = 0
  </select>

  <!--根据大类id查询-->
  <select id="selectByCategoryId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from vegetable
    where vegetable_category_id = #{vegetableCategoryId}
    and is_delete = 0
  </select>

  <!--根据名称模糊查询-->
  <select id="selectByVegetableName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from vegetable
    where vegetable_name LIKE concat('%',#{vegetableName},'%')
    AND is_delete = 0
  </select>
</mapper>